# ===== model / checkpoint =====
*.pt
*.pth
*.ckpt
*.pkl
*.bin

# ===== data =====
data/
datasets/
videos/
audios/
flows/

# ===== logs / outputs =====
logs/
runs/
outputs/
ckpt/

# ===== cache =====
__pycache__/
*.pyc

.idea/